In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../Docs/Survey_Responses.csv')
print(data.columns)

Index(['Which hostel are you staying in?',
       'How long have you been staying in the campus?(No. of Months)',
       'Rate the quality of drinking water in the campus',
       'Rate the quality of tap water in the campus'],
      dtype='object')

In [3]:
data.columns = ['Hostels','Months','D-Rating','T-Rating']
print(data.columns)

Index(['Hostels', 'Months', 'D-Rating', 'T-Rating'], dtype='object')

In [4]:
hostels = data['Hostels'].unique()

In [5]:
for hostel in hostels:
    print(hostel)

Kedhar
Bhairav
Sahana
basant
Des
Malhar
Abheri
Faculty

In [6]:
hostel_df = []
for hostel in hostels:
  # Create a new DataFrame for each hostel
  hostel_df.append(data[data['Hostels'] == hostel])
hostel_df

[   Hostels  Months  D-Rating  T-Rating
 0   Kedhar       6         2         2
 1   Kedhar       7         3         5
 2   Kedhar       7         3         3
 3   Kedhar       6         4         4
 4   Kedhar      19         3         4
 5   Kedhar      24         1         2
 6   Kedhar      14         2         4
 7   Kedhar       6         2         4
 8   Kedhar       6         4         4
 9   Kedhar       6         2         3
 10  Kedhar       5         3         3
 11  Kedhar       6         4         4
 12  Kedhar      15         2         2
 13  Kedhar      18         4         5
 14  Kedhar      24         2         2
 15  Kedhar      24         2         2
 16  Kedhar      24         2         2
 17  Kedhar      24         2         2
 18  Kedhar      24         2         2
 19  Kedhar      24         2         3
 20  Kedhar      24         3         3
 21  Kedhar      24         2         2
 22  Kedhar      24         2         3
 23  Kedhar      24         2         2
 24  Kedhar      24         2         2
 25  Kedhar      24         2         2
 26  Kedhar      24         2         2
 27  Kedhar      24         2         2
 28  Kedhar      24         1         1
 29  Kedhar      24         1         1
 30  Kedhar      14         3         4
 31  Kedhar      17         3         2
 32  Kedhar       6         2         3
 33  Kedhar      14         3         2,
     Hostels  Months  D-Rating  T-Rating
 34  Bhairav       6         2         3
 35  Bhairav       7         3         4
 36  Bhairav       7         2         1
 37  Bhairav       8         2         2
 38  Bhairav       6         2         3
 39  Bhairav       6         2         4
 40  Bhairav       7         3         2
 41  Bhairav       8         2         3
 42  Bhairav       6         3         4
 43  Bhairav       7         2         3
 44  Bhairav       8         3         4
 45  Bhairav       6         2         2
 46  Bhairav       7         3         1
 47  Bhairav       6         2         4
 48  Bhairav       8         2         3
 49  Bhairav       7         3         4
 50  Bhairav       6         3         2
 51  Bhairav       8         2         1
 52  Bhairav       7         2         3
 53  Bhairav       6         2         4
 54  Bhairav       8         3         2
 55  Bhairav       7         2         4
 56  Bhairav       6         3         3
 57  Bhairav       8         2         2
 58  Bhairav       7         3         3
 59  Bhairav       6         2         1
 60  Bhairav       8         3         4
 61  Bhairav       7         2         2
 62  Bhairav       6         3         4
 63  Bhairav       8         2         3
 64  Bhairav       7         3         1,
    Hostels  Months  D-Rating  T-Rating
 65  Sahana      24         2         2
 66  Sahana      18         3         4
 67  Sahana      18         2         4
 68  Sahana      18         2         3
 69  Sahana      24         2         3
 70  Sahana      20         3         3
 71  Sahana      23         4         2
 72  Sahana      22         3         2
 73  Sahana      18         4         4
 74  Sahana      22         4         2
 75  Sahana      18         4         3
 76  Sahana      16         3         4,
    Hostels  Months  D-Rating  T-Rating
 77  basant      24         3         5
 78  basant      18         2         3
 79  basant      18         2         4
 80  basant      18         3         1
 81  basant      24         2         3
 82  basant      20         4         2
 83  basant      23         4         2
 84  basant      22         3         2
 85  basant      18         4         3
 86  basant      22         4         2
 87  basant      18         2         4
 88  basant      16         3         4,
     Hostels  Months  D-Rating  T-Rating
 89      Des      30         2         1
 90      Des       2         2         2
 91      Des      20         3         4
 92      Des      22         5         5
 93      Des      23         5         5
 94      Des      27         3         5
 95      Des      32         3         5
 96      Des      31         4         5
 97      Des       8         5         5
 98      Des       8         5         5
 99      Des      31         4         5
 100     Des      31         4         5
 101     Des      22         3         2,
     Hostels  Months  D-Rating  T-Rating
 102  Malhar      18         2         3
 103  Malhar       8         3         4
 104  Malhar      16         4         4
 105  Malhar      16         4         2
 106  Malhar      14         3         3
 ..      ...     ...       ...       ...
 169  Malhar      18         3         3
 170  Malhar      18         3         3
 171  Malhar      18         5         2
 172  Malhar      18         4         4
 173  Malhar      18         3         4

 [72 rows x 4 columns],
     Hostels  Months  D-Rating  T-Rating
 174  Abheri       6         4         5
 175  Abheri       7         3         4
 176  Abheri       7         5         4
 177  Abheri       7         4         4
 178  Abheri       6         4         4
 ..      ...     ...       ...       ...
 258  Abheri       7         5         5
 259  Abheri       7         5         5
 260  Abheri       7         5         5
 261  Abheri       7         4         5
 262  Abheri       8         3         3

 [89 rows x 4 columns],
      Hostels  Months  D-Rating  T-Rating
 263  Faculty       9         2         2
 264  Faculty      30         4         5
 265  Faculty      18         4         4
 266  Faculty      22         3         3
 267  Faculty      24         5         4]

In [7]:
import matplotlib.pyplot as plt
import os

# Ensure the directory exists
output_dir = "static/images"
os.makedirs(output_dir, exist_ok=True)

for df in hostel_df:
    rating_counts = df['D-Rating'].value_counts()

    fig, ax = plt.subplots(figsize=(8, 8))
    wedges, texts, autotexts = ax.pie(
        rating_counts, autopct='%1.1f%%', startangle=90, colors=plt.cm.Paired.colors
    )

    ax.legend(wedges, rating_counts.index, title="D-Rating", loc="center left", bbox_to_anchor=(1, 0.5))
    ax.set_title(f"Drinking Water-Rating Distribution for {df['Hostels'].iloc[0]}")
    plt.axis('equal')

    # Save with a unique filename
    filename = f"drinking_water_rating_pie_{df['Hostels'].iloc[0]}.png"
    filepath = os.path.join(output_dir, filename)
    plt.savefig(filepath, bbox_inches="tight", dpi=300)
    plt.close()

    print(f"Saved: {filepath}")  # Debugging

Saved: static/images\drinking_water_rating_pie_Kedhar.png
Saved: static/images\drinking_water_rating_pie_Bhairav.png
Saved: static/images\drinking_water_rating_pie_Sahana.png
Saved: static/images\drinking_water_rating_pie_basant.png
Saved: static/images\drinking_water_rating_pie_Des.png
Saved: static/images\drinking_water_rating_pie_Malhar.png
Saved: static/images\drinking_water_rating_pie_Abheri.png
Saved: static/images\drinking_water_rating_pie_Faculty.png

In [8]:
import matplotlib.pyplot as plt
import os

# Ensure the directory exists
output_dir = "static/images"
os.makedirs(output_dir, exist_ok=True)

for df in hostel_df:
    rating_counts = df['T-Rating'].value_counts()

    fig, ax = plt.subplots(figsize=(8, 8))
    wedges, texts, autotexts = ax.pie(
        rating_counts, autopct='%1.1f%%', startangle=90, colors=plt.cm.Paired.colors
    )

    ax.legend(wedges, rating_counts.index, title="T-Rating", loc="center left", bbox_to_anchor=(1, 0.5))
    ax.set_title(f"Tap Water-Rating Distribution for {df['Hostels'].iloc[0]}")
    plt.axis('equal')

    # Save with a unique filename
    filename = f"tap_water_rating_pie_{df['Hostels'].iloc[0]}.png"
    filepath = os.path.join(output_dir, filename)
    plt.savefig(filepath, bbox_inches="tight", dpi=300)
    plt.close()

    print(f"Saved: {filepath}")  # Debugging

Saved: static/images\tap_water_rating_pie_Kedhar.png
Saved: static/images\tap_water_rating_pie_Bhairav.png
Saved: static/images\tap_water_rating_pie_Sahana.png
Saved: static/images\tap_water_rating_pie_basant.png
Saved: static/images\tap_water_rating_pie_Des.png
Saved: static/images\tap_water_rating_pie_Malhar.png
Saved: static/images\tap_water_rating_pie_Abheri.png
Saved: static/images\tap_water_rating_pie_Faculty.png

In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import os

# Ensure the output directory exists
output_dir = "static/images"
os.makedirs(output_dir, exist_ok=True)

for i, df in enumerate(hostel_df):
    plt.figure(figsize=(10, 6))
    plt.bar(df['Months'], df['D-Rating'], color='Black')
    plt.xlabel('Months')
    plt.ylabel('D-Rating')
    plt.title(f'Months vs. Drinking Water Rating for {df["Hostels"].iloc[0]}')
    plt.xticks(rotation=45, ha='right')
    plt.tight_layout()

    # Save the figure
    filename = f"drinking_water_rating_bar_{df['Hostels'].iloc[0]}.png"
    filepath = os.path.join(output_dir, filename)
    plt.savefig(filepath, bbox_inches="tight", dpi=300)
    plt.close()

    print(f"Saved: {filepath}")  # Debugging

Saved: static/images\drinking_water_rating_bar_Kedhar.png
Saved: static/images\drinking_water_rating_bar_Bhairav.png
Saved: static/images\drinking_water_rating_bar_Sahana.png
Saved: static/images\drinking_water_rating_bar_basant.png
Saved: static/images\drinking_water_rating_bar_Des.png
Saved: static/images\drinking_water_rating_bar_Malhar.png
Saved: static/images\drinking_water_rating_bar_Abheri.png
Saved: static/images\drinking_water_rating_bar_Faculty.png

In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import os

# Ensure the output directory exists
output_dir = "static/images"
os.makedirs(output_dir, exist_ok=True)

for i, df in enumerate(hostel_df):
    plt.figure(figsize=(10, 6))
    plt.bar(df['Months'], df['T-Rating'], color='aqua')
    plt.xlabel('Months')
    plt.ylabel('T-Rating')
    plt.title(f'Months vs. Tap Water Rating for {df["Hostels"].iloc[0]}')
    plt.xticks(rotation=45, ha='right')
    plt.tight_layout()

    # Save the figure
    filename = f"tap_water_rating_bar_{df['Hostels'].iloc[0]}.png"
    filepath = os.path.join(output_dir, filename)
    plt.savefig(filepath, bbox_inches="tight", dpi=300)
    plt.close()

    print(f"Saved: {filepath}")  # Debugging

Saved: static/images\tap_water_rating_bar_Kedhar.png
Saved: static/images\tap_water_rating_bar_Bhairav.png
Saved: static/images\tap_water_rating_bar_Sahana.png
Saved: static/images\tap_water_rating_bar_basant.png
Saved: static/images\tap_water_rating_bar_Des.png
Saved: static/images\tap_water_rating_bar_Malhar.png
Saved: static/images\tap_water_rating_bar_Abheri.png
Saved: static/images\tap_water_rating_bar_Faculty.png